.card {
  background: #fff;
  border-radius: 0.5em;
  height: 13em;
  width: 13em;
  margin: 1rem;
  position: relative;
  box-shadow: 0 3px 6px #000000, 0 3px 6px black;
  text-align: left;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background: white;
}

.card > .img-container > img {
  width: 100%
}
